/*************************************
************ HEAD *************
*************************************/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/*************************************
************ BODY *************
*************************************/

body {
    background-color: ghostwhite;
    color: rgb(204, 108, 207);
    font-family: "Nunito Sans";
    overflow-x: hidden;
}

::selection {
    color: ghostwhite;
    background-color: rgb(231, 134, 235);
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(201, 201, 201);

    border-radius: 15px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(248, 248, 248);
}
/* Track */
::-webkit-scrollbar-track {
    background: rgb(223, 223, 223);
}

/*************************************
************ GENERAL *************
*************************************/

h1 {
    letter-spacing: 1px;
}
h2 {
    letter-spacing: 2px;
}
h3,
h4 {
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    color: black;
    transition: 0.5s ease;
}

a:hover {
    color: rgb(204, 108, 207);
}

.layout-button {
    border-radius: 25px;
    padding: 5px 15px;
    cursor: pointer;
    min-width: 70px;
    background-color: rgb(231, 134, 235);
    color: white;
    border: none;
    letter-spacing: 1px;
}

.layout-button:hover {
    background-color: rgb(204, 108, 207);
}

.fake-btn {
    border-radius: 25px;
    padding: 2px 13px;
    cursor: pointer;
    min-width: 70px;
    letter-spacing: 1px;
}

.inverted-btn {
    border: solid 2px rgb(204, 108, 207);
    color: rgb(204, 108, 207);
    background-color: transparent;
    font-weight: bold;
}
.inverted-btn:hover {
    border: solid 2px rgb(231, 134, 235);
    background-color: rgb(231, 134, 235);
    color: white;
    box-shadow: 0px 3px 4px #00000048;
}

.circle {
    border-radius: 50%;
    background-color: greenyellow;
    height: 15px;
    width: 15px;
}

/*************************************
************ MAIN *************
*************************************/
.main {
    padding: 68px 0 5px 0;
    /* background-color: rgb(45, 48, 70); */
    min-height: 100vh;
}

/*************************************
************ HEADER *************
*************************************/
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(241, 241, 241);
    z-index: 20;
    padding: 3px 20px 0 20px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    box-shadow: 0px 5px 10px #00000048;
}

.header-logo-box > a > .logo > img {
    height: 65px;
    float: left;
}

/*************************************
************ NAV *************
*************************************/

/* CART */

.cart-icon-box {
    height: 30px;
    width: 30px;
    position: relative;
    justify-self: center;
    align-self: center;
}

.cart-icon {
    height: 30px;
    width: 30px;
    background-image: url(shopping-cart-empty-side-view.svg);
    background-size: contain;
}

#cartCounter {
    height: 16px;
    width: 16px;
    line-height: 16px;
    text-align: center;
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 11px;
    border-radius: 50%;
}

/* BUTTON */
#hamBtn {
    width: 25px;
    height: 35px;
    position: relative;
    justify-self: end;
    align-self: center;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; */
    cursor: pointer;
}

.stick {
    width: 25px;
    height: 4.5px;
    background-color: rgb(172, 172, 172);
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
}

.stick:before,
.stick:after {
    content: "";
    position: absolute;
    width: 25px;
    height: 4.5px;
    background-color: rgb(172, 172, 172);
    transition: 0.5s;
    border-radius: 20px;
}

.stick:before {
    top: -8px;
}

.stick:after {
    top: 8px;
}

#hamBtn.active .stick {
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    right: 250px;
}

#hamBtn.active .stick:before {
    background: rgb(172, 172, 172);
    top: 0;
    transform: rotate(45deg);
}

#hamBtn.active .stick:after {
    background: rgb(172, 172, 172);
    top: 0;
    transform: rotate(135deg);
}

/* OVERLAY & MENU */
.overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgb(255, 255, 255);
    opacity: 0;
    z-index: 18;
}

#nav {
    position: fixed;
    background-color: rgb(233, 233, 233);
    height: 100vh;
    width: 33vw;
    padding: 125px 60px 50px 60px;
    right: 0;
    z-index: 19;
    /* transform: translateX(100%); */
    left: 100%;
    transition: transform 1.5s;
}

#nav > p {
    display: block;
    font-size: 25pt;
    padding-bottom: 20px;
}

/* SCRIPT.JS STYLES */

/* .startingHidden {
    visibility: hidden;
    opacity: 0;
} */

.on {
    opacity: 1;
    transform: translateX(-100%);
}

.overlayIn {
    visibility: visible;
    opacity: 33%;
    transition: visibility 0s ease-in-out 0s, opacity 1.5s;
}

.overlayOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s ease-in-out 0.5s, opacity 1s;
}

/*************************************
************ SLIDER *************
*************************************/

.sliderBox {
    position: relative;
    height: 70vh;
    width: 100%;
    margin: 0 auto 0 auto;
}

/*************************************
************ SHORTLISTS *************
*************************************/

.shortlist {
    min-height: 300px;
    background-color: rgb(244, 244, 244);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

#home > .shortlist {
    padding: 90px 20px;
}
#home > .shortlist > h2 {
    margin: 20px 0 30px 0;
}

.items-shortlist-container {
    margin-top: 50px;
}

.items-shortlist-topbar {
    position: relative;
    text-align: left;
}

.items-shortlist-topbar > h3 {
    display: inline-block;
    /* position: absolute;
    left: 0;
    top: 0; */
}

.items-shortlist-btns {
    /* float: right; */
    position: absolute;
    right: 0;
    top: 0;
}

.items-shortlist-btns > button {
    margin-left: 15px;
}

.small-arrow {
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    background-color: rgb(231, 134, 235);
    border: none;
    height: 25px;
    width: 25px;
}

.small-arrow:hover {
    background-color: rgb(204, 108, 207);
}

.small-arrow-left,
.small-arrow-right {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
}

.small-arrow-left {
    background-image: url(left-arrow-white.png);
    margin-right: 2px;
}
.small-arrow-right {
    background-image: url(right-arrow-white.png);
    margin-left: 2px;
}

.products-small {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 15px;
    margin-top: 20px;
    margin-bottom: 40px;
    min-height: 180px;
    clear: both;
}

/*************************************
************ SHOP *************
*************************************/

.shop {
    width: 100%;
    padding: 20px;
}

.shop > h4 {
    margin-top: 10px;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 15px;
    margin: 30px 0;
}

/*************************************
************ FILTERS *************
*************************************/

.filter-bar {
    background-color: rgb(231, 134, 235);
    color: white;
    padding: 15px 8px;
    margin: 5px 0 30px 0;
    border-radius: 5px;
}

.price-filter-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

#name {
    width: 80%;
}
#priceMin,
#priceMax {
    width: 55px;
}
#category,
#order {
    width: 30%;
}
#category {
    margin-right: 40px;
}

/* .filter-bar > form > label,
.price-filter-bar > label {
    width: 100%;
} */

.filter-bar > form > label > span,
.price-filter-bar > label > span {
    margin-right: 20px;
}

/* .input-range {
    
} */

/*************************************
************ PAGE NAV *************
*************************************/

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-list {
    padding-inline-start: 0;
}

.pagination-previous,
.pagination-next {
    margin: 5px;
}

.pagination-link {
    border-radius: 25px;
    width: 25px;
    height: 25px;
    margin: 3px;
    cursor: pointer;

    background-color: rgb(231, 134, 235);
    color: white;
    border: none;
    letter-spacing: 1px;
}

.pagination-link:hover {
    background-color: rgb(204, 108, 207);
}

.is-current {
    color: rgb(231, 134, 235);
    box-shadow: 0 0 0 2px rgb(231, 134, 235);
    /* outline: 2px solid rgb(231, 134, 235); */
    background-color: white;
    width: 22px;
    height: 22px;
}
/*************************************
************ PRODUCT *************
*************************************/

.product-box {
    opacity: 0;
    transition: opacity 0.5s ease-in;
    background-color: white;
    /* background-color: rgb(240, 240, 240); */
    /* border-radius: 8px; */
    overflow: hidden;
    border: 1px solid darkgray;
    aspect-ratio: 1; /* pseudo something ?? check pls!*/
}

.product-box-shortlist {
    width: auto;
}

.product-content {
    position: relative;
    height: 100%;
    transition: 0.2s ease-in;
}
.product-content > a {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70% 1px auto;
}

.product-divider {
    height: 1px;
    width: 100%;
    background-color: darkgray;
}
.product-img {
    display: inline-block;
    overflow: hidden;
    text-align: center;
}
.product-img > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.5s ease;
    vertical-align: middle;
}
/* questo sará un component forse, uno slider */

.product-info {
    padding: 10px;
}

.product-info > h4 {
    margin-bottom: 5px;
}

.price-for-small-card {
    font-weight: normal;
}

.add-cart,
.remove-cart {
    z-index: 3;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease;
    border-color: transparent;
    border: 1px solid darkgray;
}

.add-cart {
    background-image: url(shopping-cart-empty-side-view.svg);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}

.add-cart-for-small,
.remove-cart-for-small {
    position: absolute;
    display: hidden;
    opacity: 0;
    top: -5px;
    right: 8px;
    box-shadow: 1px 3px 4px #00000025;
}

/* .add-cart > img {
    display: block;
    height: 100%;
    width: 100%;
} */

.product-content:hover .add-cart-for-small,
.product-content:hover .remove-cart-for-small {
    display: visible;
    opacity: 1;
    top: 8px;
}
.product-content:hover {
    background-color: rgb(240, 240, 240);
}
.product-content:hover a {
    color: black;
}
.product-content:hover img {
    transform: scale(1.05, 1.05);
}

.add-cart:hover {
    background-color: rgb(231, 134, 235);
    background-image: url(shopping-cart-empty-side-view-white.svg);

    border-color: transparent;
}
.remove-cart:hover {
    background-color: rgb(231, 134, 235);
    color: white;
    border-color: transparent;
}

/*************************************
************ ITEM *************
*************************************/

.item-card {
    display: flex;
    align-items: center;
    background-color: rgb(244, 244, 244);
    margin: 20px 0 40px 0;
    padding: 20px;
    border-radius: 8px;
}

.item-left-side {
    margin-right: 50px;
}

.item-left-side > h2 {
    margin-bottom: 15px;
}

.item-left-side > img {
    max-height: 400px;
    max-width: 400px;
}

.item-right-side * span {
    margin-right: 10px;
}
.item-right-side * h5,
.item-right-side * p {
    margin-right: 5px;
}

.item-right-side-conditions {
    display: flex;
    align-items: center;
}
.item-right-side-price {
    display: flex;
    align-items: center;
}

/*************************************
************ CART *************
*************************************/

.cart-comp {
    padding: 20px;
    background-color: rgb(231, 134, 235);
    color: white;
    height: 100vh;
}

.cart-products {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}

.cart-product-box {
    min-height: 50px;
    /* 
    opacity: 0;
    transition: opacity 0.5s ease-in; */

    margin: 5px 0;
}

.cart-product-content {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 50px;
    align-items: center;
}

.cart-product-content,
.cart-remove-button {
    transition: 0.2s ease-in;
}
.cart-product-content:hover {
    background-color: rgb(204, 108, 207);
}
/* .cart-product-content:hover .cart-remove-button {
    background-color: rgb(204, 108, 207);
} */

.cart-product-content > a {
    height: 100%;
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
}
.cart-product-content > a > img {
    height: 55px;
    width: 55px;
    object-fit: cover;
    /* border: 1px solid darkgray; */
    padding: 5px;
}
.cart-product-info {
    margin: 0 50px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.cart-product-info > h4 {
    text-align: left;
    display: inline-block;
}
.cart-product-info > h5 {
    text-align: right;
    display: inline-block;
}

.cart-remove-button {
    border-radius: 25px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
    letter-spacing: 1px;
    height: 40px;
    margin: 5px;
    /* margin-top: 5px; */
}

.cart-remove-button:hover {
    background-color: white;
    color: rgb(204, 108, 207);
}

.white-separator {
    width: 100%;
    height: 2px;
    background-color: white;
    margin: 10px 0 0 0;
}

.cart-interact {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 50px;
}

.cart-total {
    display: flex;
    justify-content: space-between;
}

.cart-total > h3 {
    text-align: right;
    margin: 0 50px;
}

/*************************************
************ CHECKOUT *************
*************************************/

.checkout-container {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.checkout-box {
    padding: 40px 20px;
    width: 66%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(209, 209, 209);
}
.step-status-box {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.step {
}

.step-dot {
    border-radius: 50%;
    background-color: darkgray;
    height: 20px;
    width: 20px;
}
.step-dot-active {
    border-radius: 50%;
    background-color: blue;
    height: 20px;
    width: 20px;
}
.step-line {
    background-color: darkgray;
    height: 3px;
    width: 60px;
}
/*************************************
************ CONTACT *************
*************************************/

.contact-comp {
    padding: 20px;
}

/*************************************
************ ABOUT US *************
*************************************/
.aboutus-comp {
    padding: 20px;
}

.aboutus-comp-div {
    padding: 20px 0;
}

.aboutus-box1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.aboutus-box1-pic {
    background-color: burlywood;
    width: 33%;
    height: 200px;
}
.aboutus-box3-pic {
    margin-top: 60px;
    background-color: burlywood;
    width: 100%;
    height: 200px;
}

/*************************************
************ FOOTER *************
*************************************/
.footer-comp {
    margin-top: 60px;
    /* position: sticky;
    bottom: 0; */
}

.footer {
    background-color: rgb(241, 241, 241);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 50px;
    grid-template-rows: auto;
    padding: 25px;
    box-shadow: 0px 0px 10px #00000025;
    z-index: 2;
}

.footer * h4 {
    line-height: 30px;
    margin-bottom: 5px;
}
.footer * a {
    color: rgb(204, 108, 207);
}

/* .website-footer {
    justify-self: start;
}
.legal-footer {
    justify-self: center;
}
.contact-footer {
    justify-self: end;
} */

/* .website-footer > p > a {
    color: rgb(204, 108, 207);
} */

.copyrights {
    /* background-color: rgb(223, 223, 223); */
    padding: 10px 20px 5px 20px;
    z-index: 1;
    text-align: center;
}

/*************************************
************ SCRIPTS *************
*************************************/
.fade-in {
    opacity: 1;
}

.longText,
.product-description > p {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
