/* DASHBOARD */
.admin-dashboard {
    min-height: 80vh;
}

.admin-dashboard > section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.admin-dashboard > section > a {
    padding: 15px;
    margin: 5px;
    background-color: var(--bg200);
    border: 1px solid transparent;
    height: 200px;
}
.admin-dashboard > section > a:hover {
    padding: 16px;
    background-color: var(--bg300);
    border: 1px solid var(--bg400);
    /* box-shadow: ; */
}

/* GLOBAL */

.dashboard-sub-component {
    padding: var(--padding3);
}
.dashboard-sub-component h1,
.dashboard-sub-component h2 {
    margin-bottom: 1em;
}

/* UTENTI */
.admin-user-head,
.admin-user-box {
    display: grid;
    grid-template-columns: 100px repeat(4, 1fr) 80px;
    transition: 0.2s ease-in;
    height: 45px;
    padding: 10px;
    margin: 5px 0;
    align-items: center;
}
.admin-user-box {
    color: var(--text);
}
.admin-user-box:hover {
    background-color: var(--bg200);
    border: 1px solid var(--bg400);
}
.admin-user-head h4,
.admin-user-box p {
    margin: 0;
}
.admin-user-head > h4:last-child {
    justify-self: center;
}
.admin-user-box > a:last-child {
    justify-self: end;
}

/* ORDINI */
.admin-order-head,
.admin-order-box {
    display: grid;
    grid-template-columns: 100px repeat(5, 1fr) 80px;
    transition: 0.2s ease-in;
    height: 45px;
    padding: 10px;
    margin: 5px 0;
    align-items: center;
}
.admin-order-box {
    color: var(--text);
}
.admin-order-box:hover {
    background-color: var(--bg200);
    border: 1px solid var(--bg400);
}
.admin-order-head h4,
.admin-order-box p {
    margin: 0;
}
.admin-order-head > h4:last-child {
    justify-self: center;
}
.admin-order-box > a:last-child {
    justify-self: end;
}

/* PRODOTTI */
.admin-product-head,
.admin-product-box {
    display: grid;
    grid-template-columns: 100px repeat(6, 1fr) 80px;
    transition: 0.2s ease-in;
    /* height: 80px; */
    padding: 10px;
    margin: 5px 0;
    align-items: center;
}
.admin-product-box {
    color: var(--text);
    border: 1px solid var(--bg200);
}
.admin-product-box > div {
    width: 50px;
    height: 50px;
    position: relative;
}
.admin-product-box:hover {
    background-color: var(--bg200);
    border: 1px solid var(--bg400);
}
.admin-product-head h4,
.admin-product-box p {
    margin: 0;
}
.admin-product-head > h4:last-child {
    justify-self: center;
}
.admin-product-box > a:last-child {
    justify-self: end;
}

/***************ORDER***************/

.order-section {
    display: flex;
}
.order-section > div:nth-child(1) {
    width: 75%;
}
.order-section > div:nth-child(2) {
    width: 25%;
}

.order-section > div:nth-child(1) > div {
    margin-bottom: var(--size400);
}

.grid-table-headings {
    display: grid;
    width: 100%;
    grid-template-columns: 110px 1fr 120px 120px;
    align-items: center;
    margin-bottom: var(--size-100);
}

.order-table-product > div {
    display: grid;
    width: 100%;
    grid-template-columns: 110px 1fr 120px 120px;
    align-items: center;
    margin-bottom: var(--size-100);
}
.order-table-product h4,
.order-table-product p {
    margin-bottom: 0;
}

.order-table-product > div > a:nth-child(1) > div {
    height: 50px;
    width: 50px;
    position: relative;
}

.flex-paragraph {
    display: flex;
    justify-content: space-between;
}

/***************PRODUCT***************/
.form-input-hint-box {
    position: absolute;
    background-color: var(--color100);
    color: var(--text);
    width: 100%;
}
.form-input-hint-box > p {
    cursor: pointer;
    margin-bottom: 0;
}
.form-input-hint-box > p:hover {
    background-color: var(--text);
    color: var(--color100);
}

.admin-product-images > div {
    display: flex;
}
.admin-product-images > div > div {
    position: relative;
    height: 120px;
    width: 120px;
    margin: 5px;
}
.admin-delete-image {
    position: absolute;
    right: 5px;
    z-index: 5;
    cursor: pointer;
    font-weight: bold;
}
