.items-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* justify-content: center; */
    /* width: 100%; */
    /* min-height: 100%; */
    column-gap: var(--size300);
    row-gap: var(--size300);
}

.shop-item-wrap {
    /* flex-basis: 80px; */
    opacity: 0;
    transition: opacity 0.5s ease-in;
    /* background-color: white; */
    /* padding: 15px; */
    /* background-color: rgb(240, 240, 240); */
    /* border-radius: 8px; */
    overflow: hidden;
    /* border: 1px solid darkgray; */
    /* aspect-ratio: 1; pseudo something ?? check pls! */
    min-height: 275px;
    text-align: left;
    position: relative;
}

.fade-in {
    opacity: 1;
}

@media screen and (max-width: 950px) {
    .items-list {
        column-gap: var(--size200);
        row-gap: var(--size200);
    }
}

@media screen and (max-width: 650px) {
    .items-list {
        grid-template-columns: 1fr;
        row-gap: var(--size400);
    }
}
