#ShopFilters {
    max-width: 1000px;
    /* margin: 2rem 0 0 0;
    padding: 1rem 1.5rem;
    border: 1px solid var(--colorD);
    background: var(--colorA);
    border-radius: 12px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#ShopFilters input {
    padding: 0.5rem;
    border-radius: 50px;
    border: 1px solid var(--colorF);
    background: var(--colorC);
}
#ShopFilters select {
    padding: 0.3rem 0.5rem;
    border-radius: 50px;
    border: 1px solid var(--colorF);
    background: var(--colorC);
}
#ShopFilters select {
    width: 200px;
    text-align: center;
    cursor: pointer;
    /* margin-left: 2rem; */
}

#ShopFilters .searchBarWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 2.5rem 0;
}
#ShopFilters .searchBarWrap input {
    width: 500px;
    padding: 1rem 1.5rem;
    font-size: 1.3rem;
}

#ShopFilters .filtersBarWrap,
#ShopFilters .orderBarWrap {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
#ShopFilters .filtersBarWrap label,
#ShopFilters .orderBarWrap label {
    width: 100px;
    margin-bottom: 0.2rem;
    position: absolute;
    left: -80px;
    font-size: 0.8rem;
}

/* PAGE NAV */
.pagesBarWrap {
    margin: 1rem;
    display: flex;
    /* justify-content: center; */
    max-width: 600px;
    width: auto;
    flex-wrap: wrap;
}
.pagesBarWrap > div {
    border-radius: 50px;
    font-size: 12px;
    line-height: 12px;
    height: 24px;
    width: 24px;
    margin: 0.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pagesBarWrap > div.active {
    background: var(--colorA);
    border: 2px solid var(--colorA);
    color: var(--colorC);
}
.pagesBarWrap > div.active:hover {
    background: var(--colorA);
    border: 2px solid var(--colorH);
    color: var(--colorC);
}
.pagesBarWrap > div.normal {
    background: var(--colorC);
    border: 2px solid var(--colorF);
}
.pagesBarWrap > div.normal:hover {
    background: var(--colorE);
    color: var(--colorD);
}
