{
    "env": {
        "prod": {
            "presets": [
                ["@babel/preset-react", { "runtime": "automatic" }],
                ["@babel/preset-env", { "modules": false }]
            ],
            "plugins": [
                "@babel/plugin-proposal-object-rest-spread",
                "@babel/plugin-syntax-dynamic-import"
            ]
        },
        "dev": {
            "presets": [
                ["@babel/preset-react", { "runtime": "automatic" }],
                ["@babel/preset-env", { "modules": false }]
            ],
            "plugins": [
                "@babel/plugin-proposal-object-rest-spread",
                "@babel/plugin-syntax-dynamic-import"
            ]
        },
        "test": {
            "presets": [
                ["@babel/preset-react", { "runtime": "automatic" }],
                "@babel/preset-env"
            ],
            "plugins": [
                "@babel/plugin-proposal-object-rest-spread",
                "@babel/plugin-syntax-dynamic-import"
            ]
        }
    }
}
