# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# See https://www.toptal.com/developers/gitignore for automatic generated .gitignore files
node_modules
package-lock.json
.env
secrets.json

# queste folder vanno ignorate di solito, essendo un setup project le lascio
# dist