.filter-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 50px auto 50px 50px;
    row-gap: var(--size100);
    margin: var(--size200) 0 var(--size-300) 0;
    opacity: 1;
    transition: 0.7s ease-in-out;
}
.filter-form-col-left {
    grid-column-start: 1;
    grid-column-end: 2;
}
.filter-form-col-right {
    grid-column-start: 2;
    grid-column-end: 5;
}
.filter-form-col-full {
    grid-column-start: 2;
    grid-column-end: 5;
    margin: var(--size-200) var(--size-100) var(--size000) var(--size-100);
}

.filter-form input[type="text"],
.filter-form input[type="number"],
.filter-form select {
    padding: var(--size000);
    border-radius: var(--size-100);
    background-color: ghostwhite;
    color: var(--text);
    border: none;
}

.filter-form input[type="text"],
.filter-form select {
    width: 100%;
    height: 100%;
}

.filter-form input[type="number"] {
    width: 10%;
    height: 10%;
    margin-right: var(--size100);
}

/* OVERWRITE */
.input-range__label {
    color: ghostwhite;
    font-family: "Nunito Sans";
}

@media screen and (max-width: 720px) {
    .filter-form {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        row-gap: 15px;
    }
    .filter-form-col-left,
    .filter-form-col-right,
    .filter-form-col-full {
        grid-column-start: 1;
        grid-column-end: 5;
    }
    .filter-form-col-right {
        margin-bottom: 5px;
    }
    .filter-form > .filter-form-col-left:nth-child(1) {
        grid-row-start: 0;
        grid-row-end: 1;
    }
    .filter-form > .filter-form-col-right:nth-child(2) {
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .filter-form > .filter-form-col-left:nth-child(3) {
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .filter-form > .filter-form-col-right:nth-child(4) {
        grid-row-start: 3;
        grid-row-end: 4;
        margin-bottom: 15px;
    }
    .filter-form > .filter-form-col-full {
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .filter-form input[type="number"] {
        width: auto;
    }
}
