#Footer {
    width: 100%;
    color: var(--text-color);
    background-color: var(--bg200);
    box-shadow: 0px 0px 10px #00000025;
    margin-top: auto; /* flexbox, how to justify-self: end */
    padding-top: var(--size500);
}

.footer-wraper {
    overflow: hidden;
    height: 230px;
}

.footer-parallax-wraper {
    padding: var(--padding);
    /* padding: var(--padding2); */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 30px;
    /* justify-content: space-between; */
    transition: 1.1s ease;
}

.footer-wraper h4 {
    margin-bottom: var(--size100);
}
.footer-wraper p,
.footer-wraper a {
    margin-bottom: 0;
    font-size: 14px;
}

.copyrights {
    padding: var(--padding);
    width: 100%;
    text-align: center;
    background-color: var(--bg350);
    transition: 0.2s ease;
}

.copyrights h5 {
    margin-bottom: 0;
    color: var(--text-color-darker);
    letter-spacing: 0.5px;
}

@media screen and (min-width: 1110px) {
    .footer-wraper {
        width: 1110px;
        margin: auto;
    }
}

@media screen and (max-width: 720px) {
    .footer-wraper {
        height: auto;
    }
    .footer-parallax-wraper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* row-gap: var(--size400); non funziona con ioS, uso padding*/
    }

    .footer-wraper * h4 {
        font-size: 22px;
        margin-bottom: var(--size400);
        text-align: center;
    }

    .legal-footer,
    .contact-footer,
    .social-footer {
        border-top: 1px solid #c3c3c3;
        width: 100%;
    }
}
