#PicAndTextSection {
    background: whitesmoke;
    padding: 0;
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 500px;
    /* margin-top: 1rem; */
}
#PicAndTextSection > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
#PicAndTextSection > div:nth-child(1) {
    width: 50%;
    background: var(--colorE);
}
#PicAndTextSection > div:nth-child(2) {
    width: 50%;
    background: var(--colorC);
}

/* PIC */

#PicAndTextSection > div:nth-child(1) > div {
    position: relative;
    width: 230px;
    height: 230px;
    background: var(--colorA);
}

/* TEXT */

#PicAndTextSection .textWrap {
    padding: 1rem;
    width: 230px;
    height: 230px;
    border: 1px solid var(--colorG);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--colorC);
    /* border-radius: 12px; */
}
#PicAndTextSection .textWrap p {
    margin: 0.1rem 0;
}
#PicAndTextSection .textWrap p.title {
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.3rem;
    font-family: var(--fontB);
    margin: 0 0 0.6rem 0;
}
#PicAndTextSection .textWrap a {
    margin: 0.3rem 0 0 0;
}

@media screen and (min-width: 1500px) {
    #PicAndTextSection {
        height: 850px;
    }
    #PicAndTextSection > div:nth-child(1) {
        /* justify-content: flex-end; */
    }
    #PicAndTextSection > div:nth-child(1) > div {
        width: 500px;
        height: 500px;
        /* margin-right: 250px; */
    }
    #PicAndTextSection > div:nth-child(2) {
        /* justify-content: flex-start; */
    }
    #PicAndTextSection .textWrap {
        padding: 1rem;
        width: 300px;
        height: 300px;
        /* margin-left: 250px; */
    }
}

@media screen and (max-width: 680px) {
    #PicAndTextSection {
        display: flex;
        align-items: center;
        /* justify-content: stretch; */
        flex-direction: column;
        height: 750px;
    }
    #PicAndTextSection > div:nth-child(1) {
        width: 100%;
        height: 100%;
    }
    #PicAndTextSection > div:nth-child(2) {
        width: 100%;
        height: 100%;
        background: var(--colorE);
    }
    #PicAndTextSection > div:nth-child(1) > div {
        width: 100%;
        height: 100%;
    }
}
