/*************************************
************ PAGE NAV *************
*************************************/

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-list {
    padding-inline-start: 0;
}

.pagination-previous,
.pagination-next {
    margin: 5px;
}

.pagination-link {
    border-radius: 25px;
    width: 25px;
    height: 25px;
    margin: 3px;
    cursor: pointer;

    background-color: rgb(231, 134, 235);
    color: white;
    border: none;
    letter-spacing: 1px;
}

.pagination-link:hover {
    background-color: rgb(204, 108, 207);
    color: white;
}

.is-current {
    color: rgb(231, 134, 235);
    box-shadow: 0 0 0 2px rgb(231, 134, 235);
    /* outline: 2px solid rgb(231, 134, 235); */
    background-color: transparent;
    width: 22px;
    height: 22px;
}
