/*************************************
************ MEDIA QUERY *************
*************************************/

@media screen and (min-width: 1110px) {
    .main {
        display: flex;
        align-items: center;
        /* justify-content: center; */
        flex-direction: column;
    }
    .main > div {
        width: 1110px;
    }
}

@media screen and (max-width: 580px) {
    .layout-button {
        width: 100%;
    }
}

/*
RESPONSIVENESS:

    CONTACT:
        creare flex box per contact-list 🐲
        dargli un aspetto di due colonne per tablet, non modificare per telefono 🐲
        sistemare scroll value per tablet e telefono 🐔
        fixare margini qua e la, su telefono sembra abb. ok 🐲
        volendo si puo guardare per dare un break point a h1 🐔
    ABOUT:
        fixare chi siamo (telefono) 🐲
        fixare link per contatto 🐲
        dimensioni icons/testo (<600px) 🐔
    HOME:
        sistemare grid shortlist: x2 (iPad) x1 (telefono) 🐲
        sistemare grid iconlist: x1 (telefono) 🐲
        per phone il map di shortlist deve essere di 2 products, non 4 🐲
        sistemare scroll in base alle varie width -> spesso sballato 🐲
        sistema margini di conseguenza 🐲
        in caso fixare anche addToCartBtn visto che hover non é possibile sui products 🐔
        slide funziona su slider? in caso rimuovere frecce 🐔
    HEADER:
        aumentare in nav il padding top (in generale, non é mai in linea) 🐲
        per mobile nav width 100% 🐲
        sistemare logo (svg?) (width e margin sballati) 🐲
        logo a volte un po troppo alto ? 🐔
    FOOTER:
        creare nuovo layout (<720px) (centrale, unica colonna) 🐲
        layout per social icons (direi sotto a tutto, in griglia) 🐲
        rimuovere animazione su scroll per telefoni 🐲
    CART:
        fixare btn width -> 100% per telefono 🐲
        creare row layout da 2 righe di testo, anche se solo 1 (es. titolo) 🐲
    SHOP:
        fixare column gap (tablet) 🐲
        fixare grid prodotti (phone -> 1 column) 🐲
        input e label in filter non devono essere in linea (telefono) 🐲
        forse bisognerá fixare pag nav se ci sono troppe pagine ? 🐔
        volendo si possono sistemare margin e size di pag nav (telefono) 🐔
        spinner troppo grande (telefono) 🐔
    ITEM:
        fixare layout di pic e infos (tel: 100% width img e info sotto; tablet: ?) 🐲
        se <1000px iniziare a scalare immagine  🐲
        trovare soluzione per width eccessivo di h1 quando va a capo 🐲
        nuovo layout frecce di related items per telefono 🐲
        fixare width text in infos per small devices 🐲
        fixare tags: non tengono la loro forma quando non cé spazio (si schiacciano invece di andare a capo) 🐲 


    guardare best screen sizes 
    guardare best break points
    guardare se cé modo di vedere il dispositivo

    controllare i vari loaders(spinner) su telefono 🐔

    vedere quando usare rem, em, %, pt, px, etc ... 🐔

    devo fixare visioni larghe su telefono (es #nav) 🐔
*/
