.container {
    padding: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: var(--color-background);
}

.table th,
.table td {
    border: 1px solid var(--color-background-dark);
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: var(--color-background-hover);
    font-weight: bold;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.previewPic {
    height: 50px;
    width: 50px;
    position: relative;
    background-color: var(--color-background-hover);
    outline: 2px solid var(--color-placeholder);
    border-radius: 12px;
    overflow: hidden;
}
