.container {
    width: 100%;
    padding: 20px;
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: var(--color-background);
}

.table th,
.table td {
    border: 1px solid var(--color-background-dark);
    padding: 8px;
    text-align: left;
    font-size: 0.8rem;
}

.table th {
    background-color: var(--color-background-hover);
    font-weight: bold;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.previewPic {
    height: 50px;
    width: 50px;
    position: relative;
    background-color: var(--color-background-hover);
    outline: 2px solid var(--color-placeholder);
    border-radius: 12px;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 20px 0;
    }
    .table th,
    .table td {
        padding: 6px;
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 480px) {
    .table th,
    .table td {
        padding: 4px;
        font-size: 0.65rem;
    }
    .previewPic {
        height: 40px;
        width: 40px;
    }
}
