.cart-icon-box {
    width: 30px;
    height: 30px;
    /* margin-bottom: 2px; */
    position: fixed;
    top: 85px;
    /* bottom: 1.5rem; */
    right: 1.75rem;
    z-index: 50;
}

.cart-icon-box svg {
    transition: var(--transition);
    fill: var(--colorD);
    opacity: 0.75;
    vertical-align: middle;
}
.cart-icon-box:hover svg {
    fill: var(--colorB);
    opacity: 1;
}

#cartCounter {
    height: 16px;
    width: 16px;
    line-height: 16px;
    text-align: center;
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 11px;
    border-radius: 50%;
}

@media screen and (max-width: 720px) {
    .cart-icon-box {
        top: 90px;
        right: 1.5rem;
    }
}
