#ShortList {
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shortListGrid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
}

.gridElement {
    height: 350px;
    width: 300px;
    border: 1px solid var(--colorF);
    border-radius: 12px;
    /* margin: 0 0.5rem; */
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}
.gridElement h5 {
    transition: var(--transition);
}
.shortListGrid > .gridElement:nth-child(1) {
    /* margin: 0 1rem 0 0; */
}
.shortListGrid > .gridElement:nth-last-child(1) {
    /* margin: 0 0 0 1rem; */
}
.gridElement:hover {
    box-shadow: var(--box-shadow-hover);
    transition: var(--transition);
    color: var(--colorD);
    border: 1px solid var(--colorF);
}
.gridElement:hover h5 {
    color: var(--colorB);
}

.picWrap {
    width: 100%;
    height: 260px;
    background: var(--colorC);
    border-radius: 12px 12px 0 0;
}
.picWrap img {
    border-radius: 12px 12px 0 0;
}
.gridElementInfos {
    padding: 1rem;
}
.gridElementInfos h5 {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}
.gridElementInfos p {
    font-size: 1.1rem;
}
