.adminNav {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    max-width: 1000px;
    /* gap: 1rem; */
}

.adminNav > a {
    width: 250px;
    height: 250px;
    background-color: var(--color-primary);
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 12px;
}
.adminNav > a:hover {
    width: 250px;
    height: 250px;
    background-color: var(--color-primary-hover);
    transition: 0.2s;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 12px;
}
