.iconslist {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: var(--color000);
    /* padding: 20px; */
    /* height: 400px; */
    box-shadow: 0px 0px 10px #00000025;
    transition: 1.6s ease;
    width: 100%;
}
.iconslist ::selection {
    color: var(--color000);
    background: var(--bg000);
}

.iconslist-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-align: center;
        align-items: center;
}
.iconslist-icon-box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    color: white;
    text-align: center;
    margin: 20px;
}
.iconslist-icon {
    width: 50px;
    height: 50px;
    /* background-color: white; */
    margin-bottom: 20px;
    background-position: center;
    background-size: cover;
}

.iconslist-wrap > .iconslist-icon-box:nth-child(1) > .iconslist-icon {
    background-image: url(d495a08069f1e0b25755.png);
}
.iconslist-wrap > .iconslist-icon-box:nth-child(2) > .iconslist-icon {
    background-image: url(9684eb36c5e42cd8608a.png);
}
.iconslist-wrap > .iconslist-icon-box:nth-child(3) > .iconslist-icon {
    background-image: url(f2e87fde31226a4d032e.png);
}
.iconslist-wrap > .iconslist-icon-box:nth-child(4) > .iconslist-icon {
    background-image: url(a8a71de4622d3872174f.png);
}

.iconslist-icon-box > h3 {
    line-height: 40px;
}
.iconslist-icon-box > p {
    line-height: 22px;
}

@media screen and (min-width: 1110px) {
    /* #home {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100vw;
    } */

    .iconslist {
        width: 100%;
    }

    .iconslist-wrap {
        width: 1110px;
    }
}
@media screen and (max-width: 720px) {
    .iconslist {
        padding: 90px 40px;
    }
    .iconslist-wrap {
        -ms-flex-direction: column;
            flex-direction: column;
    }
}

