.filter-wrap {
    background-color: var(--color000);
    color: white;
    padding: var(--size000);
    margin: var(--size200) 0;
    border-radius: var(--size-100);
    transition: 0.5s ease;
    overflow: hidden;
}

.filter-wrap-active {
    height: 416px;
}
.filter-wrap-inactive {
    height: 54px;
}

.filter-wrap-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    cursor: pointer;
}

.filter-wrap-header h3 {
    margin: 0;
}

@media screen and (max-width: 720px) {
    .filter-wrap-active {
        height: 565px;
    }
}

.filter-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 50px auto 50px 50px;
    row-gap: var(--size100);
    margin: var(--size200) 0 var(--size-300) 0;
    opacity: 1;
    transition: 0.7s ease-in-out;
}
.filter-form-col-left {
    grid-column-start: 1;
    grid-column-end: 2;
}
.filter-form-col-right {
    grid-column-start: 2;
    grid-column-end: 5;
}
.filter-form-col-full {
    grid-column-start: 2;
    grid-column-end: 5;
    margin: var(--size-200) var(--size-100) var(--size000) var(--size-100);
}

.filter-form input[type="text"],
.filter-form input[type="number"],
.filter-form select {
    padding: var(--size000);
    border-radius: var(--size-100);
    background-color: ghostwhite;
    /* color: var(--text); */
    border: none;
}

.filter-form input[type="text"],
.filter-form select {
    width: 100%;
    height: 100%;
}

.filter-form input[type="number"] {
    width: 10%;
    height: 10%;
    margin-right: var(--size100);
}

/* OVERWRITE */
.input-range__label {
    color: ghostwhite;
    font-family: "Nunito Sans";
}

@media screen and (max-width: 720px) {
    .filter-form {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        row-gap: 15px;
    }
    .filter-form-col-left,
    .filter-form-col-right,
    .filter-form-col-full {
        grid-column-start: 1;
        grid-column-end: 5;
    }
    .filter-form-col-right {
        margin-bottom: 5px;
    }
    .filter-form > .filter-form-col-left:nth-child(1) {
        grid-row-start: 0;
        grid-row-end: 1;
    }
    .filter-form > .filter-form-col-right:nth-child(2) {
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .filter-form > .filter-form-col-left:nth-child(3) {
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .filter-form > .filter-form-col-right:nth-child(4) {
        grid-row-start: 3;
        grid-row-end: 4;
        margin-bottom: 15px;
    }
    .filter-form > .filter-form-col-full {
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .filter-form input[type="number"] {
        width: auto;
    }
}

#hamBtn2 {
    width: 22.5px;
    height: 22.5px;
}

.hamBtn2 {
    width: 25px;
    height: 35px;
    position: relative;
    justify-self: end;
    -ms-flex-item-align: center;
        align-self: center;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; */
    cursor: pointer;
}
.stick2 {
    width: 22px;
    height: 4px;

    left: 50%;
    background-color: ghostwhite;
    border-radius: 20px;
    position: absolute;
    top: 50%;

    -webkit-transform: translate(-50%, -50%);

        -ms-transform: translate(-50%, -50%);

            transform: translate(-50%, -50%);
    transition: 0.5s;
}
.stick2:before,
.stick2:after {
    content: "";
    position: absolute;
    width: 22px;
    height: 4px;
    background-color: ghostwhite;
    transition: 0.5s;
    border-radius: 20px;
}
.stick2:before {
    top: -8px;
}
.stick2:after {
    top: 8px;
}

.hamBtn2.active .stick2 {
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    right: 250px;
}
.hamBtn2.active .stick2:before {
    background: ghostwhite;
    top: 0;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
.hamBtn2.active .stick2:after {
    background: ghostwhite;
    top: 0;
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
}

.hamBtn2:hover > .stick2,
.hamBtn2:hover > .stick2:before,
.hamBtn2:hover > .stick2:after {
    background: white;
}
.hamBtn2.active:hover > .stick2:before,
.hamBtn2.active:hover > .stick2:after {
    background: white;
}
.hamBtn2.active:hover > .stick2 {
    background: rgba(0, 0, 0, 0);
}

