.color-mode-wrap {
    width: 80px;
    display: block;
    margin: auto 0;
}

.color-mode-hidden {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.color-mode-toggle {
    height: 30px;
    width: 80px;
    background: var(--bg000);
    border-radius: 40px;
    position: relative;
    transition: var(--transition5);
}

.color-mode-toggle::before {
    content: "";
    display: block;
    height: 24px;
    width: 24px;
    border-radius: 30px;
    background: var(--color000);
    position: absolute;
    z-index: 2;
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
    transition: var(--transition5);
    top: 3px;
    left: 8px;
    cursor: pointer;
}
.color-mode-wrap:hover > .color-mode-toggle::before {
    background: var(--color100);
}

.color-mode-toggle.sun::before {
    -webkit-transform: translateX(41px);
        -ms-transform: translateX(41px);
            transform: translateX(41px);
}

.color-mode-toggle input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 80px;
    height: 30px;
    cursor: pointer;
}

.color-mode-toggle .color-mode-icons {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 11.5px 0 10.5px;
}

#Sun,
#Moon {
    z-index: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#Sun {
    background-image: url(90fc3094caa02406ddbc.png);
    height: 22px;
    width: 22px;
}
#Moon {
    background-image: url(3eaca8c4c0a83a9f3e9c.png);
    height: 20px;
    width: 20px;
}

@media screen and (max-width: 720px) {
    .color-mode-wrap,
    .color-mode-toggle,
    .color-mode-toggle input {
        width: 90px;
    }
    .color-mode-toggle.sun::before {
        -webkit-transform: translateX(50px);
            -ms-transform: translateX(50px);
                transform: translateX(50px);
    }
    .color-mode-toggle {
        background: var(--bg100);
    }
    .color-mode-toggle .color-mode-icons {
        padding: 0 11.5px 0 10px;
    }
}

