.shortlist {
    margin-top: 100px;
}

.shortlist-topbar {
    position: relative;
    text-align: left;
    /* padding-bottom: 10px;
     border-bottom: 4px solid rgba(204, 108, 207, 0.377); */
}

.shortlist-topbar > h3 {
    display: inline-block;
    /* position: absolute;
    left: 0;
    top: 0; */
}

.shortlist-btns {
    /* float: right; */
    position: absolute;
    right: 0;
    /* right: 10px; */
    top: -2px;
}

.shortlist-btns > button {
    margin-left: 15px;
}

.small-arrow {
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
    background-color: rgb(231, 134, 235);
    border: none;
    height: 24px;
    width: 24px;
    min-width: 0;
}

.small-arrow:hover {
    background-color: rgb(204, 108, 207);
}

.small-arrow-left,
.small-arrow-right {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
}

.small-arrow-left {
    background-image: url(e28aa62856d11e922593.png);
    margin-right: 2px;
}
.small-arrow-right {
    background-image: url(f88c98b445017b718c3d.png);
    margin-left: 2px;
}

.products-small {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    -webkit-column-gap: 20px;
            column-gap: 20px;
    row-gap: 15px;
    margin-top: 30px;
    margin-bottom: 40px;
    min-height: 180px;
    clear: both;
}

@media screen and (min-width: 1110px) {
    /* .shortlist {
        width: 1110px;
    } */
}

@media screen and (max-width: 900px) {
    .products-small {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 650px) {
    .products-small {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
}

.product-box {
    opacity: 0;
    transition: opacity 0.5s ease-in;
    /* background-color: white; */
    /* padding: 15px; */

    /* background-color: rgb(240, 240, 240); */
    /* border-radius: 8px; */
    overflow: hidden;
    /* border: 1px solid darkgray; */
    /* aspect-ratio: 1; pseudo something ?? check pls! */
    min-height: 275px;
    text-align: left;
}

.product-box-shortlist {
    width: auto;
}

.product-content {
    position: relative;
    height: 100%;
    transition: 0.2s ease-in;
    padding: 10px;
    border-radius: 15px;
    /* padding-bottom: 15px; */
    border: 1px solid rgba(255, 255, 255, 0);
}
.product-content > a {
    /* height: 100%; */
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 180px auto;
}

/* .product-divider {
    height: 1px;
    width: 100%;
    background-color: darkgray;
} */
.product-img {
    /* display: inline-block; */
    overflow: hidden;
    /* text-align: center; */
    /* max-width: 276.44px; */
}
.product-img > img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    transition: 0.5s ease;
    vertical-align: middle;
}
/* questo sará un component forse, uno slider */

.product-info {
    /* padding: 15px; */
}

.product-info > h4,
.product-info > h5 {
    color: var(--text);
}
.product-info > h4 {
    margin: 15px 0 0 0;
}
.product-info > h5 {
    font-family: var(--fontA);
    font-weight: bold;
    margin: 0;
}

.product-info > h4:nth-child(1) {
    /* font-weight: normal; */
    font-size: 16px;
}

.product-description {
    max-width: 290px;
    margin: 10px 0 5px 0;
}

.price-for-small-card {
    font-weight: normal;

    /* font-size: 14px; */
}
.price-for-small-card-tag {
    color: violet;
}

.product-content:hover {
    background-color: var(--bg200);
    border: 1px solid var(--bg400);
}
.product-content:hover a {
    color: var(--black-white);
}
.product-content:hover img {
    -webkit-transform: scale(1.05, 1.05);
        -ms-transform: scale(1.05, 1.05);
            transform: scale(1.05, 1.05);
}

.product-content:hover .product-box {
    box-shadow: 0px 0px 10px #00000025;
}

@media screen and (max-width: 650px) {
    .product-content > a {
        grid-template-rows: 200px auto;
    }
}

/*************************************
************ SCRIPTS *************
*************************************/
.fade-in {
    opacity: 1;
}

.add-cart,
.remove-cart {
    z-index: 3;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease;
    border-color: transparent;
    border: 1px solid darkgray;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
}

.add-cart > svg {
    fill: #414141;
    transition: 0.2s ease;
    width: 88%;
}

.remove-cart > svg {
    fill: #414141;
    transition: 0.2s ease;
    width: 55%;
}

.add-cart:hover,
.remove-cart:hover {
    background-color: var(--color000);
    border-color: transparent;
}
.add-cart:hover > svg,
.remove-cart:hover > svg {
    fill: white;
}

.add-cart-for-small,
.remove-cart-for-small {
    position: absolute;
    display: hidden;
    opacity: 0;
    top: -5px;
    right: 8px;
    box-shadow: 1px 3px 4px #00000025;
}
.product-content:hover .add-cart-for-small,
.product-content:hover .remove-cart-for-small,
.shop-item-wrap:hover .add-cart-for-small,
.shop-item-wrap:hover .remove-cart-for-small {
    display: visible;
    opacity: 1;
    top: 8px;
}

/* .add-cart-for-medium,
.remove-cart-for-medium {
    position: absolute;
    display: hidden;
    opacity: 0;
    top: -5px;
    right: 8px;
    box-shadow: 1px 3px 4px #00000025;
}
.product-content:hover .add-cart-for-medium,
.product-content:hover .remove-cart-for-medium {
    display: visible;
    opacity: 1;
    top: 8px;
} */

/* .add-cart > img {
    display: block;
    height: 100%;
    width: 100%;
} */

