#About {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    padding: 0;
}

#About * p {
    margin-bottom: var(--size100);
}

.aboutus-comp-div {
    padding: 40px;
    /* margin-top: 20px; */
}

.aboutus-box1 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    /* margin-top: 30px; */
    background: linear-gradient(
            to bottom,
            rgba(232, 134, 235, 0.85),
            rgba(204, 108, 207, 0.85)
        ),
        url(944064934ce266ab090b.jpg) no-repeat center center;

    background-size: cover;
    height: 450px;
    width: 100%;
}

.aboutus-box1-text {
    max-width: 550px;
    text-align: center;
    color: white;
}

.aboutus-box1-text > h1 {
    margin-bottom: 30px;
}

.aboutus-box1-text > p {
    font-size: 13.5pt;
}

.aboutus-box2 {
    margin: 90px 0 110px 0;
    display: grid;
    grid-template-columns: 60% 40%;
    max-width: 1110px;
}

.aboutus-box2-text {
}
.aboutus-box2-text > h2 {
    /* margin-bottom: 30px; */
}
.aboutus-box2-text p {
    color: var(--text);
}

.aboutus-box2-text > h4 {
    max-width: 150px;
}
.aboutus-box2-text > h4 > a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    color: var(--color000);
    line-height: 20px;
}
.aboutus-box2-text > h4 > a::after {
    content: "";
    background-image: url(fb3874c2ded6cef0c2ec.png);
    background-size: 16px 16px;
    background-size: cover;
    display: inline-block;

    width: 16px;
    height: 16px;
    margin-left: 14px;
}

.aboutus-box2-pic {
    justify-self: end;
    -ms-flex-item-align: center;
        align-self: center;
}

.aboutus-box2-pic > div {
    background-image: url(99b283f9420217a8ad7b.jpg);
    background-position: center;
    background-size: cover;

    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin-right: 20px;
}

.aboutus-box3 {
    background-color: var(--color000);
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    padding: 100px 0 10px 0;
}
.aboutus-box1 ::selection,
.aboutus-box3 ::selection {
    color: var(--color000);
    background: var(--bg000);
}

.aboutus-box3-text {
    color: white;
    max-width: 1110px;
    margin-top: 60px;
    padding: 0 40px;
}

.aboutus-box3-text > div {
    height: 100px;
    margin-bottom: 150px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.aboutus-box3-text > div:nth-child(2) {
    text-align: end;
}

.aboutus-box3-text > div > div {
    height: 100px;
    width: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.aboutus-box3-text > div:nth-child(1) > div {
    background-image: url(9684eb36c5e42cd8608a.png);
}
.aboutus-box3-text > div:nth-child(2) > div {
    background-image: url(69866d1d0d66aeb7aab3.png);
}
.aboutus-box3-text > div:nth-child(3) > div {
    background-image: url(d495a08069f1e0b25755.png);
}

.aboutus-box3-text > div > p {
    width: 75%;
}

.aboutus-box3-pic {
    margin: 80px 0 50px 0;
    width: 100%;
    max-width: 1110px;
    height: 200px;
    padding: 0 40px;
}
.aboutus-box3-pic > div {
    background-image: url(ec1dec130cba5bfa8b66.jpg);
    height: 100%;
    /* background-attachment: fixed; */
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 1110px) {
    #About {
        width: 100%;
    }
}

@media screen and (max-width: 720px) {
    .aboutus-box1 {
        height: 500px;
    }
    .aboutus-box2 {
        grid-template-columns: 1fr;
        row-gap: 100px;
    }
    .aboutus-box2-pic {
        justify-self: center;
        align-self: center;
        grid-column-start: 1;
        grid-row-start: 1;
    }
    .aboutus-box2-pic > div {
        margin: 0;
    }
}

@media screen and (max-width: 650px) {
    .aboutus-box3-text {
        margin-top: 30px;
    }
    .aboutus-box3-text > div {
        /* justify-content: space-between;
        column-gap: 25px; */
        -ms-flex-direction: column;
            flex-direction: column;
        row-gap: 40px;
        height: auto;
        margin-bottom: 110px;
    }
    .aboutus-box3-text > div > p {
        text-align: center;
        width: 100%;
    }
    .aboutus-box3-text > div:nth-child(2) {
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    }
}

@media screen and (max-width: 380px) {
    .aboutus-box2-pic > div {
        height: 240px;
        width: 240px;
    }
}

