.adminHomeWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
}

.adminHomeWrap .link {
    height: 200px;
    width: 200px;
    padding: 1.6rem;
    background: var(--colorE);
    border: 1px solid var(--colorF);
    border-radius: 12px;
    transition: var(--transition);
    margin: 0 1rem 2rem 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.adminHomeWrap .link:hover {
    box-shadow: var(--box-shadow-hover);
    background: var(--colorE);
}
.adminHomeWrap .link div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.adminHomeWrap .link div h4 {
    margin: 0.3rem 0;
}
.adminHomeWrap .link div p {
    font-size: 0.9rem;
    font-weight: 400;
    max-width: 80%;
}

.adminHomeWrap .disabledLink {
    cursor: not-allowed;
    background: var(--colorE);
    border: 1px solid var(--colorF);
    color: var(--colorG);
}
.adminHomeWrap .disabledLink:hover {
    box-shadow: none;
    background: var(--colorE);
    color: var(--colorG);
}
