@import url(https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900);

/* GLOBAL */

:root {
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;

    --fontA: "Lato";
    --fontB: "Poppins";

    --colorA: pink;
    --colorB: rgb(47, 163, 218);
    --colorC: white;
    --colorD: rgb(14, 14, 14);
    --colorE: whitesmoke;
    --colorF: rgb(205, 205, 205);
    --colorG: rgb(150, 150, 150);

    --transition: 0.2s ease;
    --box-shadow-hover: 0 0 11px rgba(33, 33, 33, 0.2);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: rgb(var(--colorD));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
    font-family: var(--fontA);
}

main {
    margin-top: 60px;
    min-height: 90vh;
}
section {
    width: 100%;
    min-height: 50vh;
    padding: 6rem 1.5rem;
    background: var(--colorC);
}
.page {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page > h1 {
    margin-bottom: 3rem;
    /* width: 100%; */
    max-width: 1000px;
    font-size: 2.5rem;
}
.page > div {
    width: 100%;
    text-align: justify;
}
.document-text-wrap {
    max-width: 600px;
}
.document-text-wrap h2 {
    margin-bottom: 4rem;
}
.document-text-wrap > div {
    margin-bottom: 4rem;
}
.document-text-wrap h3 {
    margin-bottom: 1rem;
}
.document-text-wrap .strong {
    font-weight: bold;
}
.document-text-wrap > div > div {
    margin-bottom: 1rem;
}
.document-button-wrap,
.document-double-button-wrap {
    margin: 4rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.document-double-button-wrap {
    flex-direction: column;
}
.document-double-button-wrap button {
    margin: 1rem;
}

.success {
    background: green;
    color: var(--colorC);
    width: 100%;
    padding: 1rem;
    max-width: 450px;
    margin: 1rem 0;
    border-radius: 12px;
}
.success div:nth-child(1) {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    font-weight: 800;
}
.success div:nth-child(2) {
    margin: 0.5rem 0.5rem 1rem 0.5rem;
    text-align: center;
}

.center-text {
    text-align: center;
}

h1,
h2,
h3,
h3,
h4,
h5,
h6 {
    font-family: var(--fontB);
    font-weight: bold;
}

/* LINKS AND BUTTONS */
a {
    color: var(--colorD);
    text-decoration: none;
    font-weight: 700;
}
a:hover {
    color: var(--colorB);
    /* text-decoration: underline; */
}
.button,
.button-disabled {
    padding: 1rem 1.5rem;
    border-radius: 50px;
    font-weight: 700;
    text-align: center;
    min-width: 230px;
}
.button {
    cursor: pointer;
    background: var(--colorB);
    color: var(--colorC);
    transition: var(--transition);
    border: none;
}
.button:hover {
    box-shadow: var(--box-shadow-hover);
    color: var(--colorB);
    background: var(--colorA);
    text-decoration: none;
}
.button-disabled {
    cursor: not-allowed;
    background: var(--colorF);
    color: var(--colorG);
    border: none;
}
/* .form-button {
     background: var(--colorA);
    color: var(--colorD);
    border: 2px solid var(--colorD); 

} */
.form-button {
    border: 2px solid var(--colorA);
    width: 100%;
}
.form-button:hover {
    color: var(--colorD);
    border: 2px solid var(--colorD);
}

.cartActionButton {
    min-width: auto;
    max-width: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0;
}

/* ABOUT US */
#About h2 {
    font-size: 1.17em;
    margin-bottom: 1rem;
}
#About .center-text {
    /* margin-top: 0.5rem; */
    margin-bottom: 4rem;

    text-align: justify;
}
#About .document-text-wrap {
    /* background: var(--colorB); */
}
#About .document-text-wrap > div {
    margin-bottom: 2rem;
}
#About .document-text-wrap > div:nth-child(1) {
    margin-bottom: 4rem;
}

/* LAYOUT */
header {
    background: var(--colorC);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1.5em;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
}
header #HeaderLogo {
    height: 100%;
    width: 100px;
    background: var(--colorA);
}
header nav {
    min-width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav > a {
    margin: 0 0.75rem;
    color: var(--colorD);
}
header nav > a:nth-last-child(1) {
    margin: 0 0 0 0.75rem;
}
header nav a:hover {
    /* font-weight: bold; */
    color: var(--colorB);
    text-decoration: none;
}

footer {
    background: var(--colorF);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2em 1.5em;
    min-height: 300px;
}
.copyrights {
    width: 100%;
    background: var(--colorG);
    padding: 2em 1.5em;
    text-align: center;
    font-size: 0.85rem;
    font-family: var(--fontB);
}

/* LIST */
.list {
    padding: 1rem;
    /* background: var(--colorE); */
    background: var(--colorC);
    /* border: 1px solid var(--colorF); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
}
.listHead,
.listItem {
    display: grid;
    padding: 1rem;
    margin: 0.5rem;
}
.listHead {
    font-size: 0.7rem;
    font-weight: 700;
    border-bottom: 1px solid var(--colorF);
}
.listItem {
    cursor: pointer;
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    background: var(--colorE);
    border: 1px solid var(--colorF);
    border-radius: 12px;
    font-size: 0.9rem;
    /* transition: box-shadow var(--transition); */
}
.listItem:hover {
    color: var(--colorB);
    /* border: 1px solid var(--colorD); */
    box-shadow: var(--box-shadow-hover);
}
.listHead p,
.listItem p,
.listItem a {
    margin: 0 0.5rem;
    align-self: center;
    height: 17px;
    /* overflow: hidden; */
    /* white-space: nowrap; */
}
.listItem a:hover,
.listItem .action:hover {
    font-size: 1rem;
}
#UsersList > .listHead,
#UsersList > .listItem {
    grid-template-columns: 75px 1fr 0.75fr 1.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
}

#ItemsList > .listHead,
#ItemsList > .listItem {
    grid-template-columns: 75px 1.5fr 100px 100px 120px 40px 40px;
}

/* COOKIES WRAP */
.cookieWrap {
    position: fixed;
    bottom: 0.5rem;
    right: 1.5rem;
    /* width: 50%; */
    max-width: 650px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--colorD);
    padding: 0.3rem 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.9em;
    transition: 0.5s ease;
    background: var(--colorA);
    color: var(--colorD);
    z-index: 100;
}
.cookieWrap span {
    cursor: pointer;
    margin-left: 1rem;
    width: 130px;
    /* height: 40px; */
    background: var(--colorA);
    color: var(--colorD);

    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem 0.2rem;
    font-size: 0.9em;
    transition: 0.2s ease;
    border: 2px solid var(--colorD);
}
.cookieWrap span:hover {
    /* background: rgb(184, 184, 184); */
    background: var(--colorD);
    color: var(--colorA);
    /* text-decoration: underline; */
}

@media screen and (max-width: 680px) {
    .cookieWrap {
        width: 100%;
        max-width: none;
        border-radius: 0px;

        display: grid;
        grid-template-columns: 1fr 135px;

        padding: 2rem;
        margin-bottom: 0;
        font-size: 0.9em;

        bottom: 0;
        left: 0;
    }

    .cookieWrap span {
        width: 120px;
        margin-left: 0;
        justify-self: end;
    }
}
