.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* padding: 6rem; */
    /* min-height: 100vh; */
}
.main > section {
    padding: 3rem 1.5rem;
}
.main > section:nth-child(2) {
    background: white;
}
.main > section:nth-child(3) {
    background: whitesmoke;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}
