.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* padding: 6rem; */
    /* min-height: 100vh; */
}
.main > section {
    /* padding: 3rem 1.5rem; */
}

.main > .intro {
    background: var(--colorC);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main > .intro h1,
.main > .intro h2 {
    font-size: 2.5rem;
    text-align: center;
}
.main > .intro h1 {
    margin: 0 0 1rem 0;
}
.main > .intro h2 {
    margin: 0 0 2rem 0;
}
.main > .intro p {
    max-width: 500px;
    text-align: center;
    margin: 0 0 2rem 0;
    line-height: 1.3rem;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}
