.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* padding: 6rem; */
    /* min-height: 100vh; */
}
.main > section {
    /* padding: 3rem 1.5rem; */
}
.main > section:nth-child(2) {
    background: white;
}
.main > section:nth-child(3) {
    background: whitesmoke;
    padding: 0;
    display: flex;
    align-items: stretch;
    justify-content: center;
}
.main > section:nth-child(3) > div:nth-child(1) {
    width: 50%;
    background: whitesmoke;
}
.main > section:nth-child(3) > div:nth-child(2) {
    width: 50%;
    background: white;
}

.main > section:nth-child(4) {
    background: rgb(228, 228, 228);
}

.main > section:nth-child(5) {
    background: whitesmoke;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}
