#Item {
    background: var(--colorC);
}

.item-section {
    background: var(--colorA);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7rem 1.5rem 7rem 1.5rem;
}
.item-wrap {
    background: var(--colorC);
    padding: 1rem;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
}

.item-infos {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 0 0.5rem 0 2rem;
    /* justify-content: space-between; */
}
.item-infos h1 {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
}
.item-infos h2 {
    font-size: 1.75rem;
}
.item-price {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--colorF);
}
.item-infos-wrap {
    margin: 0.75rem 0;
}
.item-row {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    margin-bottom: 0.75rem;
    font-size: 0.9rem;
}
.item-row span {
    width: 100px;
    margin-right: 1.5rem;
}

.picDisplayWrap {
    width: 320px;
    min-height: 320px;
    /* margin-right: 3rem; */
}
.picDisplayWrap > .item-pic {
    position: relative;
    width: 100%;
    height: 100%;
}

/* DESCRIPTION SECTION */
.item-description-wrap {
    display: flex;
    justify-content: center;
    padding: 7rem 1.5rem 2rem 1.5rem;
    min-height: 0;
}
.item-description {
    max-width: 1000px;
    width: 100%;
    border-bottom: 1px solid var(--colorF);
}
.item-description-selector {
    display: flex;
    overflow-x: auto;
    padding-bottom: 1rem;
    height: 50px;
}
.item-description-selector > h3 {
    margin-right: 2rem;
    cursor: pointer;
    transition: var(--transition);
}
.item-description-selector > h3:last-child {
    margin-right: 0;
}
.item-description-selector > h3:hover {
    color: var(--colorD);
}
.not-active-selector {
    color: var(--colorG);
}
.active-selector {
    border-bottom: 2px solid var(--colorD);
}

.item-description-display {
    margin: 2rem 0;
    min-height: 8rem;
    padding: 0 0.5rem;
}

/* SHORTLIST */
#Item > section:last-child {
    padding: 7rem 1.5rem 7rem 1.5rem;
}

/* RESPONSIVE */
@media screen and (max-width: 720px) {
    .item-wrap {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .picDisplayWrap {
        margin-bottom: 2rem;
        width: 100%;
        height: 300px;
    }
    .item-infos {
        width: 300px;
        margin: 0 0.5rem;
    }
}

@media screen and (max-width: 400px) {
    .picDisplayWrap {
        height: 240px;
    }
}
