#Shop {
}
#Shop section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Shop .filtersWrap {
    /* max-width: 1000px;
    margin: 2rem;
    padding: 1rem 1.5rem;
    border: 1px solid var(--colorD);
    background: var(--colorA);
    border-radius: 12px; */
}
#Shop .listItem {
}

#Cart {
    background: var(--colorC);
    border-bottom: 1px solid var(--colorH);
}
#Cart section {
    background: transparent;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Cart h1 {
    margin-bottom: 5rem;
}
.cartGridWrap {
    width: 100%;
    max-width: 800px;
    padding: 1rem 1.5rem;
    background: var(--colorA);
    border: 1px solid var(--colorD);
    border-radius: 12px;
    margin-bottom: 5rem;
}

.cartGridWrap .tableHead,
.cartGridWrap .cartItem,
.cartGridWrap .tableFoot {
    display: grid;
    grid-template-columns: 1fr 100px 100px 55px;
}
.cartGridWrap .tableHead {
    padding: 1rem 1rem;
    border-bottom: 1px solid var(--colorC);
}
.cartGridWrap .tableHead > h4:last-child,
.cartGridWrap .cartItem > span:last-child {
    justify-self: center;
}
.cartGridWrap .cartItem > span:last-child {
    cursor: pointer;
}
.cartGridWrap .cartItems {
    padding: 1rem 0 1.5rem 0;
}
.cartGridWrap .cartItem {
    /* border-radius: 6px; */
    padding: 0.75rem;
    margin: 0.5rem;
    border-bottom: 1px solid var(--colorC);
}
.cartGridWrap .cartItem select {
    cursor: pointer;
    width: 50px;
    margin-left: 1rem;
    /* align-self: center; */
    /* justify-self: center; */
}
.cartGridWrap .tableFoot {
    padding: 1rem 1rem;
}
.cartGridWrap .tableFoot p {
    grid-column-start: 2;
    grid-column-end: 3;
}
.cartGridWrap .tableFoot h3 {
    grid-column-start: 3;
    grid-column-end: 4;
}
.cartGridWrap .tableButtons {
    display: flex;
    /* flex-direction: column; */
    /* align-items: flex-start; */
    justify-content: flex-end;
    /* justify-content: center; */
}
.cartGridWrap .tableButtons button,
.cartGridWrap .tableButtons a {
    margin: 1rem;
    font-size: 14px;
    font-weight: 700;
}

/* CHECKOUT */
#Cart .emptyCart {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: auto;
}
#Cart .emptyCart a {
    margin: 2rem 0;
}

#Checkout .progressbar {
    counter-reset: step;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 400px;
    margin: 0 0 3rem 0;
}
.progressbar li {
    list-style-type: none;
    width: 35%;
    float: left;
    font-size: 12px;
    line-height: 20px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    /* color: white; */
    z-index: 3;
}
.progressbar li:before {
    width: 20px;
    height: 20px;
    content: counter(step);
    counter-increment: step;
    /* border: 2px solid #7d7d7d; */
    border: 2px solid #55b776;
    color: #55b776;

    /* display: block;
    text-align: center; */
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.progressbar li:after {
    width: 100%;
    height: 2px;
    content: "";
    position: absolute;
    background-color: #55b776;
    /* background-color: white; */
    top: 11px;
    left: -50%;
    z-index: -1;
}
.progressbar li:first-child:after {
    content: none;
    z-index: -1;
}
.progressbar li.active {
    /* color: #55b776; */
    /* color: white; */
    z-index: 5;
}

.progressbar li.active:nth-child(2) {
    z-index: 4;
}

.progressbar li:nth-child(3) {
    z-index: 1;
}
.progressbar li.active:before {
    background-color: #6edf94;
    color: white;
    border-color: #55b776;
    font-weight: bold;
    z-index: 5;
}
.progressbar li.active + li:after {
    background-color: #55b776;
    z-index: -1;
}

#Checkout > section > div:nth-child(3) {
    width: auto;
}

#Checkout form {
    margin-top: 1.5rem;
}

#Checkout .confirmation-wrap {
    display: flex;
    flex-direction: column;
    /* min-height: 100px; */
    justify-content: space-between;
    text-align: center;
    min-width: 500px;
}

#Checkout .confirmation-wrap > div:nth-child(1) {
    margin-top: 3rem;
    margin-bottom: 4rem;
}
#Checkout .confirmation-wrap > div:nth-child(1) h3 {
    margin-bottom: 1rem;
}
#Checkout .confirmation-wrap > div:nth-child(1) p:last-child {
    margin-top: 1rem;
    font-weight: 700;
}
#Checkout .confirmation-wrap > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
}
#Checkout .confirmation-wrap > div:nth-child(2) a {
    /* width: 150px; */
    display: block;
}
