#Shop {
}
#Shop section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Shop .filtersWrap {
    /* max-width: 1000px;
    margin: 2rem;
    padding: 1rem 1.5rem;
    border: 1px solid var(--colorD);
    background: var(--colorA);
    border-radius: 12px; */
}
#Shop .listItem {
}

#Cart {
    background: var(--colorC);
    border-bottom: 1px solid var(--colorH);
}
#Cart section {
    background: transparent;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Cart h1 {
    margin-bottom: 5rem;
}
.cartGridWrap {
    width: 100%;
    max-width: 800px;
    padding: 1rem 1.5rem;
    background: var(--colorA);
    border: 1px solid var(--colorD);
    border-radius: 12px;
    margin-bottom: 5rem;
}

.cartGridWrap .tableHead,
.cartGridWrap .cartItem,
.cartGridWrap .tableFoot {
    display: grid;
    grid-template-columns: 1fr 100px 100px 55px;
}
.cartGridWrap .tableHead {
    padding: 1rem 1rem;
    border-bottom: 1px solid var(--colorC);
}
.cartGridWrap .tableHead > h4:last-child,
.cartGridWrap .cartItem > span:last-child {
    justify-self: center;
}
.cartGridWrap .cartItem > span:last-child {
    cursor: pointer;
}
.cartGridWrap .cartItems {
    padding: 1rem 0 1.5rem 0;
}
.cartGridWrap .cartItem {
    /* border-radius: 6px; */
    padding: 0.75rem;
    margin: 0.5rem;
    border-bottom: 1px solid var(--colorC);
}
.cartGridWrap .cartItem select {
    cursor: pointer;
    width: 50px;
    margin-left: 1rem;
    /* align-self: center; */
    /* justify-self: center; */
}
.cartGridWrap .tableFoot {
    padding: 1rem 1rem;
}
.cartGridWrap .tableFoot p {
    grid-column-start: 2;
    grid-column-end: 3;
}
.cartGridWrap .tableFoot h3 {
    grid-column-start: 3;
    grid-column-end: 4;
}
.cartGridWrap .tableButtons {
    display: flex;
    /* flex-direction: column; */
    /* align-items: flex-start; */
    justify-content: flex-end;
    /* justify-content: center; */
}
.cartGridWrap .tableButtons button,
.cartGridWrap .tableButtons a {
    margin: 1rem;
    font-size: 14px;
    font-weight: 700;
}

.emptyCart {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.emptyCart a {
    margin: 2rem 0;
}
