/*************************************
************ FOOTER *************
*************************************/
.footer-comp {
    /* margin-top: 60px; */
    width: 100%;
    background-color: var(--header-bg);
    transition: 0.2s ease;
    position: relative;
    bottom: 0;
}

.footer-wrap {
    z-index: 2;
    box-shadow: 0px 0px 10px #00000025;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 30px;
    grid-template-rows: auto;
    padding: 90px 25px 30px 25px;
    height: 280px;
    overflow: hidden;
    /* z-index: 2;
    box-shadow: 0px 0px 10px #00000025; */
}

.footer * h4 {
    line-height: 30px;
    margin-bottom: 5px;
}
.footer * a,
.footer * p {
    color: var(--footer-link);
    font-size: 14px;
    line-height: 25px;
}
.footer * a:hover {
    color: var(--footer-link-hover);
}

.website-footer {
    /* justify-self: start; */
}
/*
.legal-footer {
    justify-self: center;
}
.contact-footer {
    justify-self: end;
} */

/* .website-footer > p > a {
    color: rgb(204, 108, 207);
} */

.social-footer {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    row-gap: 12px;
}

.social-footer > a {
    height: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* margin-bottom: 8px; */
}

.social-footer * svg {
    fill: var(--footer-link);
    transition: 0.2s ease;
}
.social-footer * svg:hover {
    fill: var(--footer-link-hover);
}

.copyrights {
    /* background-color: rgb(223, 223, 223); */
    width: 100%;
    padding: 5px 20px 5px 20px;
    text-align: center;
    background-color: var(--div2-bg);
    transition: 0.2s ease;
    z-index: 1;
}

@media screen and (min-width: 1110px) {
    .footer {
        width: 1110px;
    }
    .footer-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 720px) {
    .footer {
        grid-template-columns: 1fr;
        height: auto;
        text-align: center;
        row-gap: 30px;
    }

    .legal-footer,
    .contact-footer,
    .social-footer {
        padding-top: 30px;
        border-top: 1px solid #c3c3c3;
    }

    .footer * h4 {
        font-size: 22px;
        margin-bottom: 15px;
    }

    .footer * a,
    .footer * p {
        margin-bottom: 8px;
    }
    /* 
    .social-footer {
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
    } */
    .social-footer {
        padding-top: 40px;
        padding-bottom: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 90px 90px;
        column-gap: 35px;
        row-gap: 30px;
        align-items: center;
    }

    .social-footer > a:nth-child(1) {
        justify-self: end;
    }
    .social-footer > a:nth-child(2) {
        justify-self: start;
    }
    .social-footer > a:nth-child(3) {
        justify-self: end;
    }
    .social-footer > a:nth-child(4) {
        justify-self: start;
        height: 90px;
    }
    .social-footer > a {
        height: 80px;
        width: 80px;
        margin: 0;
    }
}
