/*************************************
************ ITEM *************
*************************************/

.item-card {
    display: flex;
    /* align-items: center; */
    background-color: var(--div1-bg);
    /* background-color: rgb(231, 134, 235); */
    box-shadow: 0px 0px 10px #00000025;
    margin: 40px 20px 40px 20px;
    padding: 20px;
    min-height: 430px;
    max-height: 500px;
    border-radius: 12px;
    color: var(--dark-text);
    transition: 0.2s ease;
}

.item-left-side {
    margin-right: 55px;
    width: 500px;
}
.item-left-side > img {
    height: 100%;
    width: 500px;
    object-fit: cover;
}

.item-right-side {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}

.item-right-side > h1 {
    color: rgb(231, 134, 235);
    /* line-height: 50px; */
}
.item-right-side > button {
}

.item-right-side-price {
    /* margin-top: 15px;
    margin-bottom: 15px; */
    font-size: 45px;
}
.item-right-side-price h2 {
    line-height: 75px;
}
.item-right-side-price p {
    font-size: 15px;
    color: darkgray;
}

.item-right-side * span {
    margin-right: 10px;
    color: rgb(231, 134, 235);
    font-weight: bold;
}
.item-right-side-infos-box * h5,
.item-right-side-infos-box * p,
.item-right-side-infos-box * a {
    margin-right: 5px;
    color: var(--dark-text);
    transition: 0.2s ease;
}
.item-right-side-infos {
    display: flex;
    margin-bottom: 15px;
}
.item-right-side-conditions {
    display: flex;
    align-items: center;
    /* margin-top: 20px; */
    margin-bottom: 15px;
}
.item-right-side-infos-inner-wrap {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}
.item-right-side-conditions-wrap {
    display: flex;
    align-items: center;
}
.item-tag {
    background-color: var(--item-tag-bg);
    border-radius: 15px;
    padding: 4px 10px;
    font-size: 0.83em;
    transition: 0.2s ease;
}
.item-tag:hover {
    background-color: var(--item-tag-bg-hover);
    color: var(--item-tag-hover);
}

.add-cart-for-item,
.remove-cart-for-item {
}

.item-description {
    /* background-color: rgb(244, 244, 244); */
    /* margin: 20px 0 40px 0; */
    margin: 0 20px 70px 20px;
    color: var(--dark-text);
    /* padding: 20px; */
    /* box-shadow: 0px -2px 6px #00000025; */
}

.item-description-selector {
    display: grid;
    grid-template-columns: 140px 140px;
}

.active-selector {
    background-color: var(--div1-bg);
    border-bottom: none;
    z-index: 3;
    color: var(--black);
    transition: 0.2s ease;
}

.not-active-selector {
    border-bottom: 1px solid darkgray;
    background-color: var(--div2-bg);
    z-index: 1;
    transition: 0.2s ease;
}

.item-description-selector > span {
    /* margin-right: 30px; */

    text-align: center;
    padding: 8px;
}

.item-description-selector > span:nth-child(1),
.item-description-selector > span:nth-child(2) {
    cursor: pointer;
}

.item-description-selector > span:nth-child(1) {
    border-radius: 12px 0 0 0;
    border-right: 1px solid darkgray;
    box-shadow: -3px -4px 8px #00000012;
}
.item-description-selector > span:nth-child(2) {
    border-radius: 0 12px 0 0;
    box-shadow: 3px -4px 8px #00000012;
}

.item-description-selector > span:nth-child(3) {
    background-color: transparent;
}

.item-description-display {
    background-color: var(--div1-bg);
    box-shadow: 0px 0px 10px #00000025;
    padding: 30px 20px;
    border-radius: 0 12px 12px 12px;
    /* position: relative; */
    z-index: 5;
}

/* GALLERY */
.item-gallery-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 25;
    background-color: rgba(0, 0, 0, 0.85);
    top: 0;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}
.gallery-close-wrap {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.item-gallery-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
    padding: 20px 40px;
    height: 100%;
}
.gallery-focus-wrap,
.gallery-pics-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallery-focus-wrap {
    height: 100%;
}
.gallery-pics-wrap {
    column-gap: 15px;
}
.gallery-focus-wrap > img {
    max-height: 75vh;
}
.gallery-pics-wrap > img {
    height: 90px;
    width: 90px;
}

@media screen and (max-width: 950px) {
    .item-card {
        justify-content: space-between;
    }
    .item-left-side {
        margin-right: 15px;
        width: 55%;
    }
    .item-left-side > img {
        width: 100%;
    }
    .item-right-side {
        max-width: 41%;
        min-width: 37%;
    }
}

@media screen and (max-width: 760px) {
    .item-card {
        flex-direction: column;
        max-height: none;
        row-gap: 30px;
        /* justify-content: center;
        align-items: center; */
        padding: 25px 20px;
    }
    .item-left-side {
        margin-right: 0;
        width: 100%;
    }
    .item-left-side > img {
        max-height: 50vh;
    }
    .item-right-side {
        min-width: none;
        max-width: none;
    }
    .item-right-side-price h2 {
        /* text-align: end; */
    }
    .item-right-side-infos-box {
        margin-top: 10px;
    }
    .item-right-side-infos,
    .item-right-side-conditions {
        margin-bottom: 20px;
        /* justify-content: space-between; */
        flex-direction: column;
        align-items: flex-start;
        /* align-items: center; */
        row-gap: 10px;
    }
    .item-right-side-infos span,
    .item-right-side-conditions span {
        /* width: 95px; */
        margin: 0;
    }
    .item-right-side-infos-box > div:nth-child(3) > span {
        width: auto;
        margin-right: 20px;
    }
    /* .items-shortlist-topbar {
        text-align: center;
    } */
    .item-right-side-conditions-wrap,
    .item-right-side-infos-inner-wrap,
    .item-right-side-infos > p {
        margin-left: 10px;
    }

    #item-comp > div.shortlist > div > div.items-shortlist-topbar {
        display: flex;
        justify-content: center;
    }
    #item-comp
        > div.shortlist
        > div
        > div.items-shortlist-topbar
        > .items-shortlist-btns {
        position: relative;
    }
    #item-comp
        > div.shortlist
        > div
        > div.items-shortlist-topbar
        > .items-shortlist-btns
        > button {
        margin: 10px 20px;
    }
    .item-description {
        padding-top: 30px;
        margin-bottom: 50px;
    }

    .item-description-display > div > p {
        line-height: 25px;
    }
}
