/*************************************
************ MEDIA QUERY *************
*************************************/

@media screen and (min-width: 1110px) {
    .main {
        display: flex;
        align-items: center;
        /* justify-content: center; */
        flex-direction: column;
    }

    .main > div {
        width: 1110px;
    }
    /*
    .shortlist {
        width: 66%;
        align-self: center;
    }

    .sliderBox {
        width: 100vw;
        position: absolute;
        left: 0;
    }  */

    #nav {
        width: 17vw;
        transition: transform 0.7s;
    }

    #home {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100vw;
    }
    #aboutus-comp {
        width: 100vw;
    }
    .shortlist {
        width: 1110px;
    }
    .iconslist {
        width: 100vw;
    }

    .iconslist-wrap {
        width: 1110px;
    }
    .footer {
        width: 1110px;
    }
    .footer-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #cart-comp {
        width: 100vw;
        position: relative;
        display: flex;
        justify-content: center;
        min-height: 80vh;
    }
    .cart-comp-wrapper {
        width: 1110px;
    }

    .contact-comp {
        /* width: 1110px;
        position: relative; */
        /* display: flex;
        justify-content: center; */
    }

    #contact-map {
        width: 100vw;
    }

    .contact-icons-div {
        max-width: 1200px;
        padding: 20px 0;
    }
}

@media screen and (max-width: 950px) {
    .products {
        column-gap: 30px;
        row-gap: 40px;
    }

    .item-card {
        justify-content: space-between;
    }
    .item-left-side {
        margin-right: 15px;
        width: 55%;
    }
    .item-left-side > img {
        width: 100%;
    }
    .item-right-side {
        max-width: 41%;
        min-width: 37%;
    }

    .contact-form-wrap {
        width: 51%;
    }
    .contact-icons {
        margin-right: 10px;
    }
}

@media screen and (max-width: 900px) {
    .products-small {
        grid-template-columns: 1fr 1fr;
    }

    .contact-wrap {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 175px;
    }
    .contact-form-wrap {
        width: 75%;
    }

    .contact-list-wrap {
        flex-direction: row;
        justify-content: space-between;
    }

    .contact-list {
        width: 75%;
    }

    .contact-list-box p {
        font-size: 15px;
    }

    .contact-icons {
        margin-right: 0px;
    }

    .contact-icons-text p {
        font-size: 15px;
    }
}

@media screen and (max-width: 800px) {
    .contact-icons-div {
        height: 650px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 40px 20px;
    }
    .contact-icons {
        margin-right: 20px;
    }
    .contact-icons-text {
        /* width: auto; */
    }
    .contact-icons-text p {
        font-size: 16px;
    }

    .contact-icons-div > div:nth-child(1) > .contact-icons {
        height: 70px;
        width: 70px;
    }
    .contact-icons-div > div:nth-child(2) > .contact-icons {
        height: 80px;
        width: 80px;
    }
    .contact-icons-div > div:nth-child(3) > .contact-icons {
        height: 70px;
        width: 70px;
    }
}

@media screen and (max-width: 760px) {
    .item-card {
        flex-direction: column;
        max-height: none;
        row-gap: 30px;
        /* justify-content: center;
        align-items: center; */
        padding: 25px 20px;
    }
    .item-left-side {
        margin-right: 0;
        width: 100%;
    }
    .item-left-side > img {
        max-height: 50vh;
    }
    .item-right-side {
        min-width: none;
        max-width: none;
    }
    .item-right-side-price h2 {
        /* text-align: end; */
    }
    .product-divider-small {
        width: 100%;
    }
    .item-right-side-infos-box {
        margin-top: 10px;
    }
    .item-right-side-infos,
    .item-right-side-conditions {
        margin-bottom: 20px;
        /* justify-content: space-between; */
        flex-direction: column;
        align-items: flex-start;
        /* align-items: center; */
        row-gap: 10px;
    }
    .item-right-side-infos span,
    .item-right-side-conditions span {
        /* width: 95px; */
        margin: 0;
    }
    .item-right-side-infos-box > div:nth-child(3) > span {
        width: auto;
        margin-right: 20px;
    }
    /* .items-shortlist-topbar {
        text-align: center;
    } */
    .item-right-side-conditions-wrap,
    .item-right-side-infos-inner-wrap,
    .item-right-side-infos > p {
        margin-left: 10px;
    }

    #item-comp > div.shortlist > div > div.items-shortlist-topbar {
        display: flex;
        justify-content: center;
    }
    #item-comp
        > div.shortlist
        > div
        > div.items-shortlist-topbar
        > .items-shortlist-btns {
        position: relative;
    }
    #item-comp
        > div.shortlist
        > div
        > div.items-shortlist-topbar
        > .items-shortlist-btns
        > button {
        margin: 10px 20px;
    }
    .item-description {
        padding-top: 30px;
        margin-bottom: 50px;
    }

    .item-description-display > div > p {
        line-height: 25px;
    }
}

@media screen and (max-width: 720px) {
    #nav {
        /* padding: 130px 0 50px 0; */
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #nav > div > a {
        height: 65px;
    }
    #nav > div > a > p {
        text-align: center;
        border-bottom: none;
    }

    .iconslist {
        padding: 90px 40px;
    }
    .iconslist-wrap {
        flex-direction: column;
    }

    .aboutus-box1 {
        height: 500px;
    }
    .aboutus-box2 {
        grid-template-columns: 1fr;
        row-gap: 100px;
    }
    .aboutus-box2-pic {
        justify-self: center;
        align-self: center;
        grid-column-start: 1;
        grid-row-start: 1;
    }
    .aboutus-box2-pic > div {
        margin: 0;
    }

    .footer {
        grid-template-columns: 1fr;
        height: auto;
        text-align: center;
        row-gap: 30px;
    }

    .legal-footer,
    .contact-footer,
    .social-footer {
        padding-top: 30px;
        border-top: 1px solid #c3c3c3;
    }

    .footer * h4 {
        font-size: 22px;
        margin-bottom: 15px;
    }

    .footer * a,
    .footer * p {
        margin-bottom: 8px;
    }
    /* 
    .social-footer {
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
    } */
    .social-footer {
        padding-top: 40px;
        padding-bottom: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 90px 90px;
        column-gap: 35px;
        row-gap: 30px;
        align-items: center;
    }

    .social-footer > a:nth-child(1) {
        justify-self: end;
    }
    .social-footer > a:nth-child(2) {
        justify-self: start;
    }
    .social-footer > a:nth-child(3) {
        justify-self: end;
    }
    .social-footer > a:nth-child(4) {
        justify-self: start;
        height: 90px;
    }
    .social-footer > a {
        height: 80px;
        width: 80px;
        margin: 0;
    }
}

@media screen and (max-width: 650px) {
    .products-small {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }

    .contact-wrap {
        row-gap: 150px;
    }
    .contact-form-wrap {
        width: 95%;
    }
    .contact-list {
        width: 95%;
    }
    .contact-list-wrap {
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }
    .contact-list-box {
        margin-bottom: 30px;
    }
    .contact-list-wrap > div {
        width: 290px;
    }

    .contact-address-small-icon {
        height: 25px;
        margin-right: 30px;
    }

    .contact-address-small-icon > svg {
        width: 25px;
        height: 25px;
    }

    .aboutus-box3-text {
        margin-top: 30px;
    }
    .aboutus-box3-text > div {
        /* justify-content: space-between;
        column-gap: 25px; */
        flex-direction: column;
        row-gap: 40px;
        height: auto;
        margin-bottom: 110px;
    }
    .aboutus-box3-text > div > p {
        text-align: center;
        width: 100%;
    }
    .aboutus-box3-text > div:nth-child(2) {
        flex-direction: column-reverse;
    }

    .products {
        grid-template-columns: 1fr;
        row-gap: 55px;
    }
    .product-content > a {
        grid-template-rows: 200px auto;
    }

    .checkout-container {
        padding: 0;
    }
    .checkout-box {
        width: 100%;
        min-width: auto;
        border-radius: 0;
        min-height: 95vh;
    }
    .checkout-title-box {
        padding: 40px;
    }
    .step-status-box {
        min-width: auto;
        padding: 40px;
    }
    .progressbar li {
        width: 50%;
    }
    .checkout-form-box {
        padding: 60px 40px;
    }
    .row {
        /* padding: 60px 0 20px 0; */
    }
    .row-submit {
        flex-direction: column;
        row-gap: 30px;
    }
}

@media screen and (max-width: 580px) {
    .filter-form {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        row-gap: 15px;
    }
    .filter-form-col-left,
    .filter-form-col-right,
    .filter-form-col-full {
        grid-column-start: 1;
        grid-column-end: 5;
    }
    .filter-form-col-right {
        margin-bottom: 5px;
    }
    .filter-form > .filter-form-col-right:nth-child(2) {
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .filter-form > .filter-form-col-left:nth-child(3) {
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .filter-form > .filter-form-col-right:nth-child(4) {
        grid-row-start: 3;
        grid-row-end: 4;
        margin-bottom: 15px;
    }
    .filter-form > .filter-form-col-full {
        grid-row-start: 4;
        grid-row-end: 5;
        margin: 10px 0 30px 0;
    }
    .filter-bar-active {
        height: 540px;
    }

    .cart-comp-wrapper > h2 {
        margin-bottom: 40px;
    }
    .cart-product-info {
        display: grid;
        grid-template-columns: 165px 40px;
        align-items: center;
        margin: 0 25px;
    }
    .cart-total > h3 {
        margin: 0 25px;
    }
    .cart-interact {
        row-gap: 50px;
    }
    .cart-btns {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .cart-btns > button:nth-child(1) {
        margin: 0 0 25px 0;
    }
    .layout-button {
        width: 100%;
    }

    .document-comp {
        padding: 60px 20px;
    }
    .document-comp > div:nth-child(2) {
        margin: 0 10px;
    }
}

@media screen and (max-width: 400px) {
    .cart-product-info {
        margin: 0 15px;
    }
    .cart-total > h3 {
        margin: 0 15px;
    }

    .stepB > div:nth-child(1) {
        flex-direction: column;
        row-gap: 15px;
        align-items: flex-start;
        margin-bottom: 50px;
    }
    .stepB > div:nth-child(2) {
        flex-direction: column;
        row-gap: 15px;
    }
    .stepB > div:nth-child(1) > input {
        margin: 0 15px;
        width: auto;
    }
}

@media screen and (max-width: 380px) {
    .cart-product-content {
        grid-template-columns: 1fr 45px;
    }
    .cart-remove-button {
        height: 35px;
    }
    .cart-total > h3 {
        margin: 0;
    }

    .aboutus-box2-pic > div {
        height: 240px;
        width: 240px;
    }

    .contact-map-div {
        padding: 0 20px;
        text-align: center;
    }
}
@media screen and (max-width: 370px) {
    .cart-product-info {
        grid-template-columns: 155px 40px;
        margin: 0 15px;
    }
}

@media screen and (max-width: 340px) {
    #nav {
        padding-top: 130px;
        padding-bottom: 40px;
    }
    .cart-product-content {
        grid-template-columns: 1fr 40px;
    }
    .cart-remove-button {
        height: 30px;
        display: none;
    }
    .cart-total {
        margin: 0 10px;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .cart-interact > span {
        display: none;
    }
}

/*
RESPONSIVENESS:

    CONTACT:
        creare flex box per contact-list 🐲
        dargli un aspetto di due colonne per tablet, non modificare per telefono 🐲
        sistemare scroll value per tablet e telefono 🐔
        fixare margini qua e la, su telefono sembra abb. ok 🐲
        volendo si puo guardare per dare un break point a h1 🐔
    ABOUT:
        fixare chi siamo (telefono) 🐲
        fixare link per contatto 🐲
        dimensioni icons/testo (<600px) 🐔
    HOME:
        sistemare grid shortlist: x2 (iPad) x1 (telefono) 🐲
        sistemare grid iconlist: x1 (telefono) 🐲
        per phone il map di shortlist deve essere di 2 products, non 4 🐲
        sistemare scroll in base alle varie width -> spesso sballato 🐲
        sistema margini di conseguenza 🐲
        in caso fixare anche addToCartBtn visto che hover non é possibile sui products 🐔
        slide funziona su slider? in caso rimuovere frecce 🐔
    HEADER:
        aumentare in nav il padding top (in generale, non é mai in linea) 🐲
        per mobile nav width 100% 🐲
        sistemare logo (svg?) (width e margin sballati) 🐲
        logo a volte un po troppo alto ? 🐔
    FOOTER:
        creare nuovo layout (<720px) (centrale, unica colonna) 🐲
        layout per social icons (direi sotto a tutto, in griglia) 🐲
        rimuovere animazione su scroll per telefoni 🐲
    CART:
        fixare btn width -> 100% per telefono 🐲
        creare row layout da 2 righe di testo, anche se solo 1 (es. titolo) 🐲
    SHOP:
        fixare column gap (tablet) 🐲
        fixare grid prodotti (phone -> 1 column) 🐲
        input e label in filter non devono essere in linea (telefono) 🐲
        forse bisognerá fixare pag nav se ci sono troppe pagine ? 🐔
        volendo si possono sistemare margin e size di pag nav (telefono) 🐔
        spinner troppo grande (telefono) 🐔
    ITEM:
        fixare layout di pic e infos (tel: 100% width img e info sotto; tablet: ?) 🐲
        se <1000px iniziare a scalare immagine  🐲
        trovare soluzione per width eccessivo di h1 quando va a capo 🐲
        nuovo layout frecce di related items per telefono 🐲
        fixare width text in infos per small devices 🐲
        fixare tags: non tengono la loro forma quando non cé spazio (si schiacciano invece di andare a capo) 🐲 


    guardare best screen sizes 
    guardare best break points
    guardare se cé modo di vedere il dispositivo

    controllare i vari loaders(spinner) su telefono 🐔

    vedere quando usare rem, em, %, pt, px, etc ... 🐔

    devo fixare visioni larghe su telefono (es #nav) 🐔
*/
