#Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}
#Home h1 {
    display: none;
}

.home-wrap {
    width: 100%;
    /* padding: var(--padding3); */
    margin-top: var(--size700);
    text-align: center;
    transition: var(--transition8);
}

.home-wrap h2 {
    margin-bottom: var(--size400);
}

@media screen and (min-width: 1110px) {
    .home-wrap {
        width: 1110px;
    }
}
