.form {
    padding: 1rem 1.5rem;
    background: var(--color-primary);
    /* border: 1px solid var(--color-foreground); */
    border: none;
    border-radius: 12px;
    margin-top: 3rem;
    width: auto;
    /* align-self: flex-start; */
}

.form form {
    margin-top: 1.5rem;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: var(--color-background);
}

.inputWrap {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* INPUTS */
.form input:not([type="checkbox"]),
.form select,
.form textarea,
.form .input,
.form .imagesWrap {
    padding: 0.5rem;
    width: 400px;
    background: var(--color-background);
    /* border: 1px solid var(--color-foreground); */
    border: none;
    font-size: 0.9rem;
    font-family: var(--fontB);
}

.form input:not([type="checkbox"]),
.form select,
.form .input,
.form textarea,
.form .customFileInput {
    border-radius: 12px;
}

.form select,
.form .input {
    cursor: pointer;
}

.form input::placeholder,
.form .placeholder {
    color: var(--color-placeholder);
}
.form select option {
    color: var(--color-foreground);
}
.form textarea {
    min-height: 70px;
    max-height: 200px;
    resize: vertical;
}
.form textarea.message {
    height: 200px;
    resize: none;
}

/* PICS INPUT */
.inputWrap > .imagesWrap {
    display: flex;
    gap: 0.75rem;
    flex-wrap: wrap;
    background-color: transparent;
    padding: 0.5rem 0;
}
.inputWrap > .imagesWrap > .customFileInput {
    position: relative;
    width: 70px;
    height: 70px;
    background-color: var(--color-primary-hover);
    outline: 2px solid var(--color-primary-hover);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    cursor: pointer;
}
.inputWrap > .imagesWrap > .customFileInput:hover {
    background-color: var(--color-primary);
}
.inputWrap > .imagesWrap > .customFileInput > input[type="file"] {
    display: none;
}

.customFileInput > .trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.customFileInput > .trigger > .plus {
    font-weight: 400;
    font-size: 2rem;
    color: var(--color-background);
}
.inputWrap > .imagesWrap > .previewPic {
    position: relative;
    width: 70px;
    height: 70px;
    background-color: var(--color-primary-hover);
    outline: 2px solid var(--color-primary-hover);
    border-radius: 12px;
    overflow: hidden;
}
.previewPic > .deletePic {
    color: var(--color-background);
    position: absolute;
    right: 5px;
    top: 2px;
    cursor: pointer;
    font-weight: 600;
    z-index: 2;
}
.previewPic > .deletePic:hover {
    color: var(--color-secondary);
    font-weight: 700;
}

/* 
.imagesWrap {
    width: 400px;
    margin-top: 0.5rem;
    padding: 0.75rem;
    background: var(--color-background);
    border: 1px solid var(--color-foreground);
    font-size: 0.85rem;
}
.imagesWrap > p:nth-child(1) {
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.imagesWrap > div:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}
.formImage {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0.5rem;
}
.deleteImage {
    cursor: pointer;
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    padding: 0.2rem;
    font-weight: 900;
    border-radius: 50px;
    height: 25px;
    width: 25px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--color-secondary);
    color: var(--color-background);
}
.deleteImage:hover {
    background: var(--color-background);
    color: var(--color-foreground);
} */

/* #card-element {
    margin: 0 0 1.5rem 0;
    padding: 0.5rem;
    width: 400px;
    background: var(--color-background);
    border: 1px solid var(--color-foreground);
    font-size: 0.9rem;
    border-radius: 12px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#card-element > div {
    width: 100%;
}

.card-error {
} */

/* ERROR */
.form-error {
    margin: 0.5rem 0.5rem 0 0.5rem;
    color: rgb(180, 0, 0);
}
.server-error {
    margin: 0.5rem 0 1.5rem 0;
    color: rgb(180, 0, 0);
    max-width: 400px;
}

/* BUTTONS */
.buttonWrap {
    margin: 0.5rem 0;
}

@media screen and (max-width: 768px) {
    .form input:not([type="checkbox"]),
    .form select,
    .form textarea,
    .form .input,
    .form .imagesWrap {
        width: 350px;
    }
}
@media screen and (max-width: 480px) {
    .form input:not([type="checkbox"]),
    .form select,
    .form textarea,
    .form .input,
    .form .imagesWrap {
        width: 280px;
    }
}
